@charset "UTF-8";
.button, .ExplorerBouton {
  background: linear-gradient(360deg, #9356DC -11%, #FF79DA 123%);
  color: white;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
}

.button:hover, .ExplorerBouton:hover {
  background: linear-gradient(356deg, #a86ee0 0%, #b493de 33%, #ff93e1 100%);
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
  width: 100%;
  height: 2.5em;
  border: solid grey; /* Style et couleur communs */
  border-width: 1px 0 2px 0; /* (haut droite bas gauche) */
}

.localisation {
  border: none;
  outline: none; /* Supprime aussi le contour lors du focus */
  margin-left: 1em;
  font-size: 0.8em;
}

.fonctionnement {
  padding: 2em 1em;
}
.fonctionnement .BoutonsChoix {
  max-width: 22em;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 1em;
  /* Espace entre les boutons */
  counter-reset: steps;
}
.fonctionnement .BoutonsChoix button {
  font-family: "Roboto", sans-serif;
  position: relative;
  background-color: rgb(246, 246, 246);
  border: 1px solid transparent;
  border-radius: 20px;
  padding: 1.5em;
  padding-left: 2.5em;
  display: flex;
  align-items: center;
  gap: 1.5em;
  width: 100%;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
}
.fonctionnement .BoutonsChoix button:hover {
  background-color: rgb(241.5, 233.875, 250.625);
}
.fonctionnement .BoutonsChoix button::before {
  counter-increment: steps;
  content: counter(steps);
  position: absolute;
  left: -12px;
  display: grid;
  place-items: center;
  height: 24px;
  width: 24px;
  border-radius: 50%;
  background-color: rgb(147, 86, 220);
  color: white;
}
.fonctionnement .BoutonsChoix button i {
  color: rgb(126, 126, 126);
}
@media screen and (min-width: 768px) {
  .fonctionnement .BoutonsChoix {
    max-width: 96%;
    flex-direction: row;
    gap: 1.5em;
  }
}

.Explorer {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.Explorer h1 {
  font-size: 1.6em;
}
.Explorer p {
  font-size: 1.1em;
}

.ExplorerText {
  font-size: 1.2em;
  margin-bottom: 1.5em;
}

.ExplorerBouton {
  padding: 1em 2em;
  border-radius: 50px;
  margin: 1.5em 0 3em 0;
  font-size: 0.9em;
}

.Restaurants {
  background-color: rgb(243, 243, 243);
  padding: 2em 1em;
  margin-top: 4em;
}

.restaurantsTitle {
  margin-bottom: 1.5em;
}

.restaurantCards {
  display: grid;
  grid-template-columns: 1fr;
  gap: 25px;
}

.card {
  background-color: rgb(255, 255, 255);
  text-decoration: none;
  color: inherit;
  display: block;
  position: relative;
}
.card .cardImage {
  height: 170px;
  background-size: cover;
  background-position: center;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.card .cardheader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}
.card .cardTitle {
  margin: 0;
  font-size: 1.1em;
}
.card .cardLocalisation {
  margin: 0;
  padding: 0 15px 15px 15px;
  font-weight: 300;
}
.card .heart-checkbox {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}
.card .heartIcon {
  font-size: 1.5em;
  position: relative;
  cursor: pointer;
}
.card .heartIcon .fa-solid.fa-heart {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: all 0.3s ease-in-out;
  transform: scale(0);
  background: linear-gradient(180deg, #9356DC 0%, #FF79DA 100%);
  -webkit-background-clip: text; /* Nécessaire pour certain navigateurs même chose que background-clip: text */
  background-clip: text; /*  Découpe l'arrière plan avec texte à la dimension du texte */
  color: transparent; /* Comme le fond est découpé à la forme du texte, en rendant le texte transparent la couleur du fond apparait : dégradé en l'occurrence  */
}
.card .heart-checkbox:checked + .heartIcon .fa-solid.fa-heart {
  opacity: 1;
  transform: scale(1);
}
.card--palette .cardImage {
  background-image: url("../../images/restaurants/1 - La palette du gout.jpg");
}
.card--note .cardImage {
  background-image: url("../../images/restaurants/2 - La note enchantée.jpg");
}
.card--francaise .cardImage {
  background-image: url("../../images/restaurants/3 - A la francaise.jpg");
}
.card--delice .cardImage {
  background-image: url("../../images/restaurants/4 - Le delice des sens.jpg");
}

@media screen and (min-width: 768px) {
  .restaurantCards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
  }
}
footer {
  background-color: #353535;
  color: rgb(255, 255, 255);
  padding: 1.5em;
  display: flex;
  flex-direction: column;
  gap: 0.7em;
}

.logoMini {
  width: 130px;
  height: auto;
  filter: brightness(0) invert(1);
  margin-bottom: 1em;
}

p {
  margin: 0;
}

a {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

i {
  width: 20px;
  margin-right: 0.5em;
}

@media screen and (min-width: 768px) {
  footer {
    flex-direction: row-reverse;
    align-items: center;
    padding: 1em 0.5em;
  }
  .logoMini {
    width: 150px;
    margin-left: 1em;
  }
  .footerMentions {
    display: flex;
    flex-direction: row;
    padding: 5px 0 0 0;
  }
  p {
    margin: 0 1em;
  }
}
