.button {
     
  // background: linear-gradient(360deg, rgb(66, 9, 135) -11%, rgb(104, 3, 141) 113%);
  background: linear-gradient(360deg, #9356DC -11%, #FF79DA 123%);  
  color: white;
 
    //  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
    }
  .button:hover {
    background: linear-gradient(356deg, #a86ee0 0%, #b493de 33%, #ff93e1 100%);
  
  }

  