$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;    

$Violet: rgba(147, 86, 220, 1);
// $Bleu: rgba(0, 58, 104, 1);
// $BleuCiel: rgba(137, 200, 250, 1);
// $VertFonce: rgba(0, 135, 102, 1);
// $VertClair: rgba(153, 226, 208, 1);
$Gris: rgba(243, 243, 243, 1);
$Blanc: rgba(255, 255, 255, 1);
$Noir: #353535;
$cadre: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
$Gris_bouton:rgb(246, 246, 246);
// Couleur de fond pour le body, utilisée dans _base/_base.scss
$color-background-body: rgb(247, 240, 240);

$Gris-Icone: rgb(126, 126, 126);
