@use "../utils/Variables" as *;
@use "../Components/Boutons" as *;


 .Explorer{
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;  
  
  text-align: center;


 h1 {
  font-size: 1.6em;
  // text-align: center;
 }

p {     
    font-size: 1.1em;
    // font-weight: normal;
}
}

.ExplorerText {
    font-size: 1.2em;
    margin-bottom: 1.5em;
}

.ExplorerBouton{
  @extend .button;
  // La taille est définie par le padding, pas par une hauteur/largeur fixe
  padding: 1em 2em;
  border-radius: 50px; // Un rayon élevé pour une forme "pilule"
  margin: 1.5em 0 3em 0;
  font-size: 0.9em;
}
