@use "../utils/mixins" as *;
@use "../utils/Variables" as *; // Vous aurez sûrement besoin des variables aussi.

.fonctionnement {
    padding: 2em 1em;
    // width: 90%;
  }

    h2{
    font-size: 1.5em;
    font-weight: bold;    
     margin: 0 0 1.5em 0;  
}

.BoutonsChoix {
  max-width: 22em;
  margin: 0 auto;
  display: flex;
  flex-direction: column; 
  
  gap: 1em;
  /* Espace entre les boutons */
   counter-reset: steps; // Initialise un compteur pour les étapes

  button {
    // Styles communs à tous les boutons
    font-family: $font-secondary; // Utilise la police secondaire
    position: relative; // Nécessaire pour le positionnement de la pastille
    background-color: $Gris_bouton;
    border: 1px solid transparent; // Bordure transparente pour éviter le décalage au hover
    border-radius: 20px; // Un peu plus arrondi pour un style plus doux
    padding: 1.5em;
    padding-left: 2.5em; // Espace pour la pastille numérotée
    display: flex;    
    align-items: center;
    gap: 1.5em; // Espace plus généreux entre l'icône et le texte
    width: 100%;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
     &:hover {
      background-color: lighten($Violet, 35%);
    }


    &::before {
      counter-increment: steps; // Incrémente le compteur pour chaque bouton
      content: counter(steps); // Affiche la valeur du compteur
      position: absolute;
      left: -12px; // Positionne la pastille légèrement à l'extérieur
      display: grid;
      place-items: center; // Centre parfaitement le numéro
      height: 24px;
      width: 24px;
      border-radius: 50%;
      background-color: $Violet;
      color: white;
    }

    i {
       color: $Gris-Icone;
  }
  }
}
  @media screen and (min-width: $breakpoint-tablet) {

 
   
    .BoutonsChoix {      
      // On laisse le conteneur prendre toute la largeur de son parent (.fonctionnement)
      // et on aligne les boutons en ligne.
      max-width: 96%;
      flex-direction: row;
      gap: 1.5em; // Espace entre les boutons
     

    }

}
