@use "../utils/Variables" as *;
@use "../utils/mixins" as *;
@use "sass:color";


// .flecheArriere {
//   // position: absolute;
//   // left: 1em;
//   // top: 1.5em;
//   cursor: pointer;
//   // color: $Violet;
//   font-size: 1.5em;
// }

.headerMenu {
display: flex;
flex-direction: row;
align-items: center;  
align-content: center;
flex-wrap: nowrap;
justify-content: center;
}

.flecheArriere {
  position: absolute;
  left: 1em;
  right: 3em;
  // top: 1em;
  font-size: 1.4em;
  cursor: pointer;
  padding-top : 0.5em;
     
}

.logoRestau {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.logoRestau img {
   max-height: 30px;  /* Ajustez cette valeur */
    width: 100%;       /* Garde les proportions */
    object-fit: contain; /* Évite la déformation */
    margin-bottom: 0.5em;
    margin-top: 1.5em;;
}

.Restaurants {
  background-color: $Gris;
  padding: 2em 1em;
  margin-top: 4em;
  border-radius: 8px 8px 0 0;;
  // border-top-left-radius: 8px;
  // border-top-right-radius: 8px;
}

.restaurantsTitle {
    margin-bottom: 1.5em;
}

.paletteHeader{
    // background: $Gris;
    // background-color: $Gris_bouton;
    background-color: rgb(31, 70, 138);
  }

.restaurantCards {
  display: grid;
  grid-template-columns: 1fr;
  gap: 25px;
}

.card {
  background-color: $Blanc;

  text-decoration: none;
  color: inherit;
  display: block;
  position: relative;


 .cardImage {
    height: 170px;
    background-size: cover;
    background-position: center;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }

  .cardheader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
  }

  .cardTitle {
    margin: 0;
    font-size: 1.1em;
  }

  .cardLocalisation {
    margin: 0;
    padding: 0 15px 15px 15px;
    font-weight: 300;
  }

  .restauNom {
        font-family: "Shrikhand", serif;
        font-size: 1.75em;
        font-weight: 300;
        color: $Noir
  }


  .heart-checkbox {
    // display: none;
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
  }


  .heartIcon {
    font-size: 1.5em;
    position: relative;
    cursor: pointer;
  }

  .heartIcon .fa-solid.fa-heart {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  // transition: opacity 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  transform: scale(0);
  background: linear-gradient(180deg, #9356DC 0%, #FF79DA 100%);
  -webkit-background-clip: text; /* Nécessaire pour certain navigateurs même chose que background-clip: text */
  background-clip: text;/*  Découpe l'arrière plan avec texte à la dimension du texte */
  color: transparent; /* Comme le fond est découpé à la forme du texte, en rendant le texte transparent la couleur du fond apparait : dégradé en l'occurrence  */
  }

 .heart-checkbox:checked + .heartIcon .fa-solid.fa-heart {
    opacity: 1;
    transform: scale(1);
  }

.menuCard {
    padding: 1em;
    display: flex;

    // align-items: center;
    justify-content: space-between;
    align-items: flex-start;


    // flex-direction: row;
    background-color: $Blanc;
    width : 100%;
    min-height: 3em;
    border-radius: 8px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
    overflow: hidden;
    cursor: pointer;
    margin-bottom: 1em;
  }

.menuCardContent {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

  .menuCardContent h3 {

     margin: 0;
    font-size: 1em;
    font-weight: 600;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    // flex: 1;

  }

  .menuCardContent p {
    margin: 0.3em 0 0 0;
    font-size: 0.9em;
    color: #666;
    // flex: 1;
}

  .menuCardText{
     display: flex;
    flex-direction: column;
    flex: 1;
    min-width: 0; /* Permet au text-overflow de fonctionner */
  }


  .prix {
    font-weight: bold;
    margin-left: 1em;
    white-space: nowrap;
}



  // C'est ici qu'on utilise le mixin pour chaque carte !
  &--palette { @include RestaurantCardImagebackground-image("../../images/restaurants/1 - La palette du gout.jpg"); }
  &--note { @include RestaurantCardImagebackground-image("../../images/restaurants/2 - La note enchantée.jpg"); }
  &--francaise { @include RestaurantCardImagebackground-image("../../images/restaurants/3 - A la francaise.jpg"); }
  &--delice { @include RestaurantCardImagebackground-image("../../images/restaurants/4 - Le delice des sens.jpg"); }

}



@media screen and (min-width: $breakpoint-tablet) {
  .restaurantCards {
  display: grid;
  grid-template-columns: repeat(2, 1fr); // 2 colonnes de largeur égale
  // grid-template-rows: 1fr;
  // grid-template-columns: 1fr;
  gap: 25px;
}
}

                    // Page menu 

  .restaurantPhoto {
    width: 100%;
    height: 170px;
    background-size: cover;
    background-position: center;
    // border-top-left-radius: 15px;
    // border-top-right-radius: 15px;
  }